.comments-container {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: grey;
    border-radius: 10px;
    z-index: 10;
    color: white;
    width: 400px;
    margin: 20px;
    padding-left: 10px;
    padding-right: 10px;

}

li {
    list-style: none;
}

.filter-toggle {
    display:flex;
    justify-content: flex-end;
    font-size: 0.7em;
    padding: 0;
    padding-bottom: 10px;
    margin: 0;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: none;
    width: auto;
}

.filter-toggle:focus {
    outline: none;
}