.dialogue {
    background: rgba(0,0,0,0.5);
    font-size: 1.25em;
    color: white;
    width: 50%;
    height: 100px;
    margin: 15px 15px 15px 15px;
    padding: 10px 30px 10px 30px;
    text-align: left;
    border-style: solid;
    border-color: grey;
    border-radius: 25px;
}

/* p{
  color: Pink; 
  font-family: "Courier";
  font-size: 20px;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 4s steps(60, end); 
}

@keyframes type{ 
  from { width: 0; } 
} 
*/