.levelcreation-form {
    display: flex;
    flex-direction: column;
    border-style: 0.5em solid;
    border-color: rgba(100,100,100,1);
    border-radius: 25px;
    z-index: 11;
    color: white;
    box-shadow: 0px 0px 20px rgba(255,255,255,0.5);
    position: fixed;
    left: 50%;
    bottom: 0;
    max-width: 600px;
    width: 90%;
    background-color: black;
    margin: 0;
    height: 300px;
    overflow-y: scroll;
    padding: 0.5em 0 1em 0;
    transform: translate(-50%, 110%);
    transition: 0.3s;
    background-color: rgb(0, 0, 0, 0.9)
}

.levelcreation-form:hover {
    box-shadow: 0px 0px 40px rgba(255,255,255,0.5);
}

.levelcreation-form.show {
    transform: translate(-50%, -8%);
}

.x {
    width: 9%;
    margin: 5px 2.5px 5px 2.5px
}

.y { 
    width: 9%;
    margin: 5px 2.5px 5px 2.5px
}

.text {
    width: 73%;
    margin: 5px 2.5px 5px 2.5px
}

.button-container {
    display:block;
}

.create-puzzle-props {
    width: 175px;
    margin: 0.5em;
}

.puzzle-props {
    width: 500px;
    margin: 0.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* flex-direction: column; */
    align-items: center;
    border-color: grey;
    min-height: 50px; 
}

h5 {
    margin: 30px 0px 20px 0px;
}

.levelcreation-submit {     
    color: white;
    align-items: center;
    /* margin-top: 10px; */
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: grey;
    border-radius: 15px;
    border-width: 2px;
    z-index: 10;
    background-color: black;
    width: auto;
    margin: 25px 5px 0px 5px;
    padding: 3px 10px 5px 10px;
    transition-duration: 0.3s;
    cursor: default;
}

.levelcreation-submit:hover {
    background-color: grey;
    box-shadow: 0px 0px 20px rgba(255,255,255,0.7);
}

.levelcreation-submit:focus {
    display: none;
}

.puzzle-props input {
    width: 200px;
}

.levelcreation-clear {
    width: 100px;
    height: 15px;
    padding: 5px 10px 5px 10px;
}