.app {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-image: url('/csgo-background-comp.jpg');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: black;
    background-size: cover;
    overflow: scroll;
    height: auto;
}

.create-puzzle-form-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.create-puzzle-props {
    /* width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around; */
}

.create-level-toggle {
    color: white;
    align-items: center;
    /* margin-top: 10px; */
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: grey;
    border-radius: 10px;
    border-width: 2px;
    z-index: 10;
    color: white;
    width: auto;
    margin: 25px 5px 0px 5px;
    padding: 5px 10px 5px 10px;
    transition-duration: 0.3s;
    cursor: default;
    /* padding-left: 10px;
    padding-right: 10px; */
}

.create-level-toggle:hover {
    background-color: grey;
    box-shadow: 0px 0px 20px rgba(255,255,255,0.7);
}

.create-level-toggle.browse {
    box-shadow: 0px 0px 20px rgba(255,255,255,0.7);
}

.create-level-toggle.create {
    box-shadow: 0px 0px 20px rgba(255,255,255,0.7);
}

input {
    border-radius: 25px;
}