.app {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-image: url('/background.jpg');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: black;
    background-size: cover;
    overflow: scroll;
    height: auto;
}

.create-puzzle-form-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.create-puzzle-props {
    /* width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around; */
}